$height: 500px;



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202125;
    height: $height;
    border-radius: 8px;
}

.image-holder{
    width: 200px;
    height: 200px;
    animation-name: logo;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}

img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

@keyframes logo{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}