$line-color: #fff;
$line-open: crimson;
$line-height: 3px;
$width: 35px;
$height: 50px;



.hamburger{
    margin-left: 10px;
    display: flex;
    cursor: pointer;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width:  $width;
    height: $height;
}


.line1{
    transform: translateY(-10px);
    position: absolute;
    left: 0;
    right:0;
    width: 100%;
    height: $line-height;
    background-color: $line-color;
    transition: all 0.3s;
}


.line2{

    position: absolute;
    left: 0;
    right:0;
    width: 100%;
    height: $line-height;
    background-color: $line-color;
    transition: all 0.3s;
}


.line3{
    transform: translateY(10px);
    position: absolute;
    left: 0;
    right:0;
    width: 100%;
    height: $line-height;
    background-color: $line-color;
    transition: all 0.3s;
}


.line1.open{
    background-color:$line-open;
    transform: translateY(0px) rotate(-45deg);
}

.line2.open{
    background-color: $line-open;
    transform: translateX(10px);
    opacity: 0;
}

.line3.open{
    background-color: $line-open;
    transform: translateY(0px) rotate(45deg);
}




@media only screen and (min-width: 600px){
    .hamburger{
        display: none;
    }

    
}






