$header-color: #202125;
$font-color: #fff;


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: $header-color;
}

.links{
    display: none;
    width: 60%;
    justify-content: space-evenly
}

.nav-link a{
    text-decoration: none;
    color: $font-color;
}


.nav-link a:hover{
    color: skyblue;
}



@media only screen and (min-width: 600px){
    
    .header{
        justify-content: center;
        padding: 20px;
    }
    
    .links{
        display: flex;
    }

    
}