
.little-square-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 8px;
}

.little-box{
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
    height: 300px;
    background-color: skyblue;
    border-radius: 8px;
}





@media only screen and (min-width: 600px){
    .little-square-container{
        flex-direction: row;


    }
    
}