

@use "head";
@use "ham";
@use 'container';
@use 'little-box-container';

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');



$background-color: #121212;

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}




body {
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    background-color: $background-color;
    padding: 30px 40px;
}


