html{
    font-size: $small-screen; //one Rem is 10px
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body{
    font-family: 'Merriweather', serif;
    background-color: $color-background;
    box-sizing: border-box;
}

h1{
    letter-spacing: 3px;
    color: $color-white;
    font-size: 5rem;
}

h2{
    color: $color-white;
    font-size: 2.3rem;
}

p{
    color: $color-white;
    font-size: 1.8rem;
}

a{
    color: $color-white;
    font-size: 1.7rem;
    text-decoration: none;
    text-transform: uppercase;
    
     &:hover{
     color: $color-links;
     }
}


.header-links i{
    font-size: 3.5rem;
}

.header-title i{
    cursor: pointer;
    color: $color-white;
    font-size: 6.3rem;

    &:hover{
        color: $color-links;
        
    }
}


