@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');


$color-white: #fff;
$color-background: black;
$color-links: #4feaf2;


$small-screen: 60%;
$medium-screen: 66%;
$large-screen: 62.5;
$xl-screen: 72%;





