@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');


$color-white: #fff;
$color-background: #0a0a0c;
$color-links: red;

$heading-sm: 3.5rem;
$heading-md: 4.0rem;
$heading-lg: 5rem;

$par-sm: 1.5rem;
$par-md: 2.0rem;
$par-lg: 2.5rem;