.hamburger{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 3rem;
    top: 3.5rem;
    width: 5rem;
    height: 5rem;
    z-index: 2;
}

.bar{
    border-radius: 3px;
    width: 80%;
    height: 4px;
    background-color: $color-white;
    transition: all 0.3s;
}


.line{
 
    &-1{
        
        transform: translateY(-8px) ;
    }

    &-2{
  

        
        opacity: 1;
    }

    &-3{
    
        transform: translateY(8px);
    }
}



