@media screen and (min-width: 600px){
    .hamburger{
        display: none;
    }

    .header-links{
        display: flex;
    }
}

@media screen and (min-width: 800px){
        html{
            font-size: $medium-screen;
        }
}

@media screen and (min-width: 1000px){
        html{
            font-size: $large-screen;
        }
}

@media screen and (min-width: 1100px){
    html{
        font-size: $xl-screen;
    }
}